<% @cities.each do |city| %>
  <% @c = city%>
    <% if not @c.nil? %>
    <h2> <%= @c.name %></h2>
      <% if not @c.weather.nil?%>
      <strong> Weather: </strong>
        <% temperature = ((9.0/5) * (@c.weather[:temperature] - 273) + 32).round %>
        <% description = @c.weather[:description] %>
        <ul>
          <li> The temperature is <%= temperature %>°F with <%= description %></li>
        </ul>
      <% end %>
      <strong>Cool Facts: </strong>
      <ul>
        <li> Population: <%= @c.population %> </li>
        <li> Landmark: <%= @c.landmark %> </li>
      </ul>
    <% end %>
  <% end %>
<%= link_to '<button type="button">Create A New City!</button>'.html_safe, cities_new_path%>
<br>
<%= link_to '<button type="button">Update an Existing City!</button>'.html_safe, cities_update_path%>
<br>
<%= link_to '<button type="button">Reset Cities!</button>'.html_safe, cities_reset_path%>